/*
 стандартный размер шрифта в браузере - 16px, 62.5% = 10px,
 сделано для удобства расчетов в rem, 1rem будет равен 10px
 */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $primary-font;
  font-weight: $font-weight-normal;
}
